<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MWPS | Краща бібліотека музики</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_sec.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body data-authenticated="{{ 'true' if current_user.is_authenticated else 'false' }}">>
    {% include 'partials/navbar.html' %}

    <h2 class="section-text">Найкраща бібліотека музики. Знайди своє!</h2>

    <div class="search-container">
        <form action="{{ url_for('home') }}" method="POST">
            <div class="search-box">
                <input type="text" name="search_query" class="search-input" placeholder="Пошук трека...">
                <button type="submit" class="search-btn">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
        <form action="{{ url_for('create_playlist') }}" method="POST">

        <div class="create-playlist-box">
            <button type="button" class="create-playlist-btn" onclick="handleCreatePlaylist()">Створити плейліст</button>
        </div>

        <!-- Всплывающее модальное окно -->
            <div id="toast-container"></div>

        <div id="playlistModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal('playlistModal')">&times;</span>
                <h2>Введіть назву плейліста</h2>
                <input type="text" id="playlistNameInput" placeholder="Назва плейліста">
                <button class="confirm-btn" onclick="submitPlaylist()">Створити</button>
            </div>
        </div>


        <!-- Форма для отправки данных на сервер (скрытая) -->
        <form id="createPlaylistForm" action="/create_playlist" method="POST" style="display: none;">
            <input type="hidden" name="playlist_name" id="hiddenPlaylistName">
        </form>
    </form>
    </div>

    <h2 class="section-title">Популярні треки</h2>
    <div class="scroll-container">
        {% for track in popular_tracks %}
        <div class="track-card" data-track-id="{{ track.id }}">
            <img src="{{ track.image }}" alt="{{ track.title }}" class="cover-art">
            <div class="track-info">
                <h3>{{ track.title }}</h3>
                <p>{{ track.artist }}</p>
            </div>
            <div class="track-actions">
                <button class="action-btn" title="Додати до плейліста" onclick="event.stopPropagation(); openAddToPlaylistModal('{{ track.id }}', '{{ track.title }}', '{{ track.artist }}', '{{ track.image }}')">
                    <i class="fas fa-plus"></i>
                </button>
                {% if current_user.is_authenticated %}
                    <button class="action-btn download-btn" title="Завантажити" data-track-id="{{ track.id }}">
                        <i class="fas fa-download"></i>
                    </button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <h2 class="section-title">Популярні альбоми</h2>
    <div class="scroll-container">
        {% for album in popular_albums %}
        <div class="album-card" onclick="window.location.href='{{ url_for('album_detail', album_id=album.id) }}'">
            <img src="{{ album.image }}" alt="{{ album.title }}" class="cover-art">
            <div class="track-info">
                <h3>{{ album.title }}</h3>
                <p>{{ album.artist }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <h2 class="section-title">Ваші плейлісти</h2>
    <div class="scroll-container">
        {% for playlist in current_user.playlists %}
        <div class="playlist-card" onclick="window.location.href='{{ url_for('playlist_detail', playlist_id=playlist.id) }}'">
            {% if playlist.name == "Обрані" %}
                <i class="fas fa-star playlist-icon"></i>
            {% endif %}
            <img src="{{ playlist.tracks[0].image if playlist.tracks else url_for('static', filename='images/default_cover.jpg') }}" alt="{{ playlist.name }}" class="playlist-cover">
            <div class="playlist-info">
                <h3>{{ playlist.name }}</h3>
                <p>Треків: {{ playlist.tracks|length }}</p>
            </div>
            <div class="playlist-actions">
                <div class="playlist-name-container">
                    <i class="fas fa-edit action-btn" onclick="event.stopPropagation(); openRenameModal('{{ playlist.id }}', '{{ playlist.name }}')"></i>
                </div>
                <button class="action-btn" onclick="event.stopPropagation(); openDeletePlaylistModal('{{ playlist.id }}')">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </div>
        {% endfor %}
    </div>

    {% include 'partials/addToPlaylistModal.html' %}

    {% include 'partials/player.html' %}

    <div id="errorModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('errorModal')">&times;</span>
            <p id="errorMessage"></p>
        </div>
    </div>

    {% include 'partials/authRequiredModal.html' %}

    {% include 'partials/renamedeletePlaylistModal.html' %}

    <script src="/static/js/common.js"></script>
    <script src="/static/js/player.js"></script>
    <script src="/static/js/index.js"></script>
    <script>
        // Функция для обработки нажатия на кнопку "Создать плейлист"
        function handleCreatePlaylist() {
            {% if current_user.is_authenticated %}
                // Если пользователь авторизован, открываем модальное окно для создания плейлиста
                openModal('playlistModal');
            {% else %}
                // Если пользователь не авторизован, открываем модальное окно с предложением войти или зарегистрироваться
                openModal('authRequiredModal');
            {% endif %}
        }

        // Проверяем, есть ли сообщения об ошибках от Flask
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'error' or category == 'success' or category == 'error_reg' or category == 'success_reg'%}
                        showErrorModal("{{ message }}");
                        clearFlashMessages();  // Очищаем сообщения после отображения
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </script>
</body>
</html>